
/vendor/
/node_modules/
.env
.env.*
!.env.example
/.phpunit.cache
/phpunit.xml
.phpunit.result.cache
/storage/*.key
/storage/pail
/storage/logs/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
composer.lock
package-lock.json
/public/build
/public/hot
/public/storage
Homestead.json
Homestead.yaml
/docker/mysql/
/docker/php-fpm/logs/
/docker/nginx/logs/
/docker/*/*.pid

.DS_Store
Thumbs.db
.fleet/
.idea/
.vscode/
.nova/
.zed/
phpactor.json
auth.json
*.log
test-project/.env
.env.backup
.env.production
